.hero {
    background: #1F2937;
    display: flex;
    height: 600px;
    flex-direction: column;
}

h4, a{
    color: white;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

img {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex: 3;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 300px;
    padding-bottom: 10px;
}

.logo {
    margin-left: 50px;
    font-size: 24px;
    color: #F9FAF8;
    height: 30px;
    flex: 1;
    padding-left: 300px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}

.awesome p {
    color: #F9FAF8;
}

.awesome {
    width: 500px;
}

.btn-1 {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5%;
    background: #3882F6;
    color: #F9FAF8;
    margin-top: 20px;
}

.section-2 {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cheeks {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

.more-info h2 {
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subtext {
    width: 150px;
    display: flex;
}